In [ ]:
import pandas as pd
pd.read_csv('/content/archive.zip')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-09-20,359.299988,361.029999,349.799988,355.700012,355.700012,19822800
1,2021-09-21,358.500000,360.040009,355.190002,357.480011,357.480011,11751900
2,2021-09-22,347.230011,349.839996,340.690002,343.209991,343.209991,43692900
3,2021-09-23,345.359985,349.670013,343.000000,345.959991,345.959991,21806300
4,2021-09-24,343.239990,354.350006,342.369995,352.959991,352.959991,18801900
...,...,...,...,...,...,...,...
247,2022-09-13,161.539993,161.630005,152.669998,153.130005,153.130005,44444100
248,2022-09-14,153.330002,153.539993,149.050003,151.470001,151.470001,43064200
249,2022-09-15,149.800003,154.199997,148.699997,149.550003,149.550003,34606300
250,2022-09-16,148.050003,148.580002,144.289993,146.289993,146.289993,40018700
251,2022-09-19,145.240005,148.580002,145.100006,148.020004,148.020004,22142100